.hat {
    display: flex;
    border-bottom: solid 1px;
}

.nav {
    display: flex;
    height: 48px;
}

.nav :not(:last-child) {
    margin-right: 24px;
}

.btn {
    display: block;
    color: #212121;
    font-size: 24px;
    cursor: pointer;
}

.btn:hover {
    color:rgb(255, 0, 0);
}

.btn-current {
    display: block;
    color:rgb(255, 0, 0);
    font-size: 24px;
    cursor: pointer;
}